<app-navbar></app-navbar>
<app-hero></app-hero>
<main>
  <app-vault></app-vault>
  <hr class="section-divider divider-purple">
  <app-artistas></app-artistas>
  <hr class="section-divider">
  <app-soul-station></app-soul-station>
  <hr class="section-divider divider-green">
  <app-eventos></app-eventos>
  <hr class="section-divider divider-purple">
  <app-bienestar></app-bienestar>
  <hr class="section-divider divider-green">
  <app-aprendizaje></app-aprendizaje>
  <hr class="section-divider divider-purple">
  <app-articulos></app-articulos>
  <hr class="section-divider">
  <app-bio></app-bio>
</main>
<app-footer></app-footer>
